.main-panel {
  width: 200px;
  height: 100px;
  background-color: black;
  border-style: groove;
  border-radius: 5px;
}
.main-text {
  font-family: "Courier New", monospace;
  font-size: 40px;
  font-weight: bold;
  color: rgb(221, 221, 5);
  padding-top: 30px;
  text-align: center;
}

.sub-text {
  font-family: "Courier New", monospace;
  font-size: 15px;
  color: rgb(221, 221, 5);
  padding-top: 20px;
  text-align: center;
}
