.main-panel {
  width: 180px;
  height: 110px;
  background-color: black;
}
.main-text {
  font-family: "Courier New", monospace;
  font-size: 60px;
  font-weight: bold;
  color: rgb(221, 221, 5);
  line-height: 110px;
  text-align: center;
}
