<div class="grid-main" >
  <div><app-ledpanel mainText="0.0000" subText="mVDC" ></app-ledpanel></div>
  <div class="grid-functions">
    <div><button mat-stroked-button class="fButton" (click)="configure('voltdc')">Volt DC</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('voltac')">Volt AC</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('currdc')">Amps DC</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('currac')">Amps AC</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('res')">Ohms</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('freq')">Freq.</button></div>
    <div><button mat-stroked-button class="fButton" (click)="configure('temp')">Temp.</button></div>

  </div>
</div>
