<div class="grid-main" >
  <div><app-ledpanel mainText="0.0000" subText="mVDC" ></app-ledpanel></div>
  <div class="grid-functions">
    <div><button mat-stroked-button class="fButton">Volt DC</button></div>
    <div><button mat-stroked-button class="fButton">Volt AC</button></div>
    <div><button mat-stroked-button class="fButton">Amps DC</button></div>
    <div><button mat-stroked-button class="fButton">Amps AC</button></div>
    <div><button mat-stroked-button class="fButton">Ohms</button></div>
    <div><button mat-stroked-button class="fButton">Freq.</button></div>
    <div><button mat-stroked-button class="fButton">Temp.</button></div>

  </div>
</div>
