.action-buttons {
  padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.icon-image {
  height: 35px;
  margin-right: 20px;
}
